<footer class="bg-dark bg-gradient">
    <div class="footer-content">
        <ul class="socials">
            <ul><a href="#"><i class="fa fa-linkedin-square"></i></a></ul>
            <ul><a href="#"><i class="fa fa-facebook"></i></a></ul>
            <ul><a href="#"><i class="fa fa-twitter"></i></a></ul>
            <ul><a href="#"><i class="fa fa-instagram"></i></a></ul>
        </ul>
    </div>
    <div class="footer-bottom text-white">
        <h5 style="color: white;"> Kenya Airways © <%= new Date().getFullYear() %><h5>
    </div>
</footer>